html {
    scroll-behavior: smooth;
}
body { 
    overflow-y: scroll;
    margin: 0; 
    font-family: 'Noto Sans KR', sans-serif; 
    -ms-overflow-style: none; 
    &::-webkit-scrollbar { 
        display: none;
    }
    letter-spacing: -0.5px;
}
* { 
    box-sizing: border-box; 
}
a {
    text-decoration: none;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
// header. (width 1024px 이하)
header {
    z-index: 101;
    position: fixed;
    display: none;
    width: 100%;
    .gnb-btn {
        z-index: 102;
        position: relative;
        width: 35px;
        height: 25px;
        margin: 10px;
        margin-left: auto;
        text-align: right;
        cursor: pointer;
        span {
            position: absolute;
            right: 0;
            height: 2px;
            background-color: #fff;
            transition: 0.5s;
            &:nth-of-type(1) {
                width: 100%;
                top: 0;
            }
            &:nth-of-type(2) {
                width: 80%;
                top: 50%;
            }
            &:nth-of-type(3) {
                width: 60%;
                top: 100%;
            }
        }
        &.active span:nth-of-type(1) {
            top: 50%;
            transform: rotate(45deg);
        } 
        &.active span:nth-of-type(2) {
            opacity: 0;
        }
        &.active span:nth-of-type(3) {
            width: 100%;
            top: 50%;
            transform: rotate(-45deg);
        }
    }
}
// gnb nav. (width 1024px 이하)
.gnb-nav {
    z-index: 100;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000e6;
    &.active {
        display: block; 
    }
    nav {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        a {
            display: block;
            padding: 10px;
            text-align: center;
            font-family: 'DM Serif Display', sans-serif; 
            color: #fff;
            font-size: 3rem;
            text-decoration: none;
            transition: 0.3s;
            &:hover {
                color: goldenrod;
            }
        }
    }
}
// slide nav (화면 우측 fix)
.slide-nav {
    z-index: 99;
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    text-align: right;
    cursor: pointer;
    div {
        .slide-name {
            display: inline-block;
            visibility: hidden;
            opacity: 0;
            font-size: 0.8vw;
            color: #fff;
            transform: translateY(15%);
            transition: 0.5s;
            &.active {
                visibility: visible;
                opacity: 1;
            }
            a {
                color: inherit;
            }
        }
        .line {
            display: inline-block;
            width: 10px;
            height: 1px;
            margin-left: 5px;
            background-color: #fff;
            transition: 0.5s;
            &.active {
                width: 30px;
            }
        }
    }
}
// intro section.
.intro-section {
    background-color: #2a2a77;
    h1 {
        position: relative;
        font-size: 7vw;
        color: #fff;
        font-family: 'DM Serif Display', sans-serif; 
    }
}
// about section.
.about-section {
    opacity: 0;
    padding: 100px;
    .about-inner {
        display: flex;
        flex-wrap: wrap;
        width: 900px;
        height: fit-content;
        .area {
            &:nth-of-type(1) {
                width: 45%;
                .my-picture {
                    width: 150px;
                    height: 150px;
                    background: url(../../resource/index/image/myprofile.jpg) no-repeat center/100% transparent;
                    border-radius: 50%;
                }
            }
            &:nth-of-type(2) {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                width: 55%;
                padding: 25px;
                dl {
                    div {
                        display: inline-block;
                        &:nth-of-type(1) {
                            float: left;
                        }
                        &:nth-of-type(2) {
                            float: right;
                            margin-right: 100px;
                            &::after {
                                content: '';
                                clear: both;
                            }
                        }
                        &:nth-of-type(3) {
                            margin: 50px 0;
                        }
                        dt {
                            font-family: 'DM Serif Display', sans-serif; 
                            font-size: 1.5rem;
                            color: #2a2a77;
                            font-weight: 600;
                        }
                        dd {
                            margin: 0;
                            text-align: justify;
                            p {
                                margin: 0;
                            }

                            .company {
                                font-weight: 500;
                            }

                            .period, .role {
                                font-size: 0.9rem;
                                color: #606060;
                            }

                            .role {
                                margin-bottom: 10px;
                            }

                            .company-exp {
                                span {
                                    font-weight: 600;
                                    color: #2a2a77;
                                    text-decoration: underline;
                                    cursor: pointer;
                                }
                            }

                            .company-exp + p {
                                margin-top: 20px;
                                font-weight: 500;   
                            }

                            .company-exp ~ p + ul {
                                margin-top: 5px;
                                &:not(:last-child) {
                                    margin-bottom: 50px;
                                }

                                a {
                                    font-weight: 600;
                                    color: #2a2a77;

                                    &:visited {
                                        color: #2a2a77;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .web-event-popup {
        z-index: -10;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        aspect-ratio: 1 / 0.75;
        padding: 30px;
        background-color: #FFF;
        border-radius: 20px;
        box-shadow: 0px 30px 50px #d2d2d2;
        transition: 0.4s;

        p {
            &:first-child {
                font-size: 1.7rem;
                font-weight: 600;
                color: #2a2a77;
            }

            &:last-child {
                font-size: 0.9rem;
                color: #606060;
            }
        }

        .imgs {
            display: flex;
            position: relative;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 20px;
            left: 50%;
            transform: translateX(-50%);

            img {
                width: 45%;
                aspect-ratio: 2 / 1;
            }
        }

        .web-event-popup-xbtn {
            position: absolute;
            top: 1%;
            right: 2%;
            font-size: 3rem;
            cursor: pointer;
        }
    }

    .web-event-popup.active {
        z-index: 10;
        opacity: 1;
    }
}
// skill section.
.skill-section {
    opacity: 0;
    overflow: hidden;
    padding: 100px;
    .skill-inner {
        display: flex;
        position: relative;
        height: 550px;
        .area {
            &:nth-of-type(1) {
                width: 39%;
                h2 {
                    margin: 0;
                    font-family: 'DM Serif Display', sans-serif;
                    font-size: 4rem;
                    color: #2a2a77;
                }
                .sub-tit {
                    margin: 0;
                    text-align: justify;
                    margin-top: 10px;
                    font-family: 'DM Serif Display', sans-serif;
                    font-size: 2rem;
                    font-weight: 600;
                }
            }
        }
        .text-deco {
            position: absolute;
            top: 13vw;
            right: 10vw;
            margin-left: 100px;
            transform: rotate(30deg) skewX(-20deg) skewY(-10deg);
            pointer-events: none;
            div {                        
                margin: 15px;
                font-family: 'DM Serif Display', sans-serif;   
                font-size: 5vw;
                color: #2a2a771c;
                font-weight: 600;
            }
         }
    }
}
// publishing section.
.publ-section {
    opacity: 0;
    padding: 100px;
    .publ-inner {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .area {
            display: flex;
            align-items: center;
            &:nth-of-type(1) {
                // width: 40%;
                .area-inner {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 10px;
                    align-items: end;
                    justify-items: center;
                    padding: 10px;
                    transition: 0.5s;
                    div {
                        display: inline-block;
                        width: 150px;
                        height: 150px;
                        margin: 5px;
                        border: 1px solid #414141;
                        border-radius: 20px;
                        transition: 0.5s;
                        filter: grayscale(1);
                        cursor: pointer;
                        &:nth-of-type(1) {
                            background: url(../../resource/index/image/vogue.png) no-repeat top/100%;
                        }
                        &:nth-of-type(2) {
                            background: url(../../resource/index/image/neker.png) no-repeat top/100%;
                        }
                        &:nth-of-type(3) {
                            background: #000 url(../../resource/index/image/coupang.png) no-repeat top/100%;
                        }
                        &:nth-of-type(4) {
                            background: url(../../resource/index/image/megabooks.png) no-repeat top/100%;
                        }
                        &:nth-of-type(5) {
                            background: url(../../resource/index/image/tab.png) no-repeat center/100%;
                        }
                        &:nth-of-type(6) {
                            background: #000 url(../../resource/index/image/video-landing.png) no-repeat center/100%;
                        }
                        &.active {
                            filter: grayscale(0);
                        }
                    }
                }
            }
            &:nth-of-type(2) {
                width: 40%;
                height: 600px;
                .item-desc {
                    display: none;
                    padding: 30px;
                    &.active {
                        display: block;
                    }
                    h2 {
                        margin: 0;
                        color: #2a2a77;
                        font-size: 3rem;
                    }
                    p {
                      margin: 0;
                      &:nth-of-type(1) {
                        margin-top: 10px;
                        margin-bottom: 30px;
                        font-size: 1.6rem;
                        font-weight: 600;                      
                      }
                      &:nth-of-type(2) {
                        text-align: justify;
                      }
                    }
                    .view-btn {
                        display: inline-block;
                        margin-top: 30px;
                        padding: 4px 30px;
                        border: 1px solid #000;
                        border-radius: 20px;
                        cursor: pointer;
                        transition: 0.3s;
                        &:hover {
                            color: #fff;
                            background-color: #000;
                        }
                    }
                }
            }
        }
    }
}
// contact section.
.outro-section {
    flex-direction: column;
    font-family: 'DM Serif Display', sans-serif;
    h2 {
        margin: 0;
        color: #2a2a77;
        font-size: 2rem;
        font-weight: 600;
    }
    p {
        margin: 0;
        font-size: 1.5rem;
    }
}
// footer.
footer {
    p {
        margin: 0;
        font-size: 0.7rem;
        text-align: center;
    }
}
// modal.
iframe {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    border: none;
}
.web-page-modal {
    z-index: 9000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    animation: modalFadeIn 0.5s ease-out;
    .web-page-modal-close-btn {
        z-index: 9001;
        position: fixed;
        top: 15px;
        left: 20px;
        width: 36px;
        height: 36px;
        font-size: 2rem;
        color: #FFF;
        text-align: center;
        line-height: 1.2;
        background-color: #222;
        border-radius: 100%;
        cursor: pointer;
    }
}

@import "_media.scss";
@import "keyframes.css";